#container {
  height: 500px;
  width: 500px;
  background-color: rgba(60, 176, 189, 0.979) (34, 0, 255);
  margin: auto;
}
input {
  display: block;
  width: 100%;
  margin: 10px;
  height: 30px;
  border-radius: 10px;
}
