<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header id="navbar">
      <ul>
        <li><button>Home</button></li>
        <li></li>
        <li></li>
      </ul>
    </header>
    <div id="container">
      <div id="formContainer">
        <form action="/login" method="POST" id="loginForm">
          <h2 style="text-align: center">Login</h2>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your Email"
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your Password"
          />
          <input type="submit" value="Submit" />
          <p><a href="/register">Need and account?</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
